JWT_KEY=SENHA_HASH_COM_32_CARACTERES
JWT_ISSUER=GrillSystem
JWT_AUDIENCE=GrillSystem.Api
ConnectionStrings__DefaultConnection=server=SERVER;database=BANCO;user=USUARIO;password=SENHABANCO
MYSQL_VERSION=8.0.0
